/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

#banner {
	height: 300px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(70,117,157,1) 0%,rgba(70,117,157,1) 25%,rgba(70,117,157,1) 25%,rgba(93,127,155,1) 50%,rgba(70,117,157,1) 64%,rgba(70,117,157,1) 84%,rgba(70,117,157,1) 100%);
}

.phone {
	float: left;
	margin: -18% 10% 5% 15%;
}


.top {
	float: left;
	margin: -14% 0 0 -5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand{
	float: left;
	margin-right: 25px;
}


.login {
	position: relative;
	padding: 0 10px;
	border: 1px solid rgba(71,117,157,1) ;
	box-shadow: 10px 10px 5px rgba(71,117,157,1) ;
	background:-webkit-linear-gradient(top, #007dc1 5%, #06365f 100%);
}

.login-img{
	position: absolute;
	top: 5px;
	left: 1px;
	margin: 2px 3px;
}

.login-text {
	float: left;
	margin-left: 30px;
	color: white;
}

.frame-message {
	float: left;
	position: relative;
	height: 390px;
	width: 500px;
	margin: -5% 0 0 -5%;
}

.frame {
  position: absolute;
  left: 0;
  top: 0;
}

.message {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.badge {
	margin-top: 30px;
	margin-right: 30px;
}


ul {
	clear: left;
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
	display: inline;
	padding: 10px;
	margin-bottom: 10px;
}

ul li a {
	text-decoration: none;
	color: #1c5380;
	font-family: Nunito, "sans-serif";
	font-style: bold;
	font-size: 0.7em;
}

.cr {
	display: inline;
	font-family: Nunito, "sans-serif";
	font-size: 0.7em;
}

h2 {
	font-family: Nunito, "sans-serif";
}

h2 {
	width: 70%;
	color: #1c5380;
	font-style: bold;
}


/*.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}

*/